{{#get "tags" filter="visibility:public" limit="all" order="name asc" as |publicTags|}}
{{#if publicTags}}
<div class="gh-outer">
    <section class="changelog-wrapper gh-inner">
        <div class="changelog-header">
            <h2 class="changelog-title">Changelog</h2>
            <span class="changelog-range"></span>
            <div class="changelog-period">
                <button class="changelog-period-btn" data-days="30">30d</button>
                <button class="changelog-period-btn" data-days="60">60d</button>
                <button class="changelog-period-btn" data-days="90">90d</button>
                <button class="changelog-period-btn active" data-days="all">All</button>
            </div>
        </div>
        <div class="changelog-cards">
            {{#foreach publicTags}}
                {{#has slug="important"}}
                <a class="changelog-card changelog-card-important" href="{{url}}" data-tag="{{slug}}">
                    <span class="changelog-card-count">-</span>
                    <span class="changelog-card-name">{{name}}</span>
                </a>
                {{/has}}
            {{/foreach}}
            {{#foreach publicTags}}
                {{#has slug="important"}}{{else}}
                <a class="changelog-card" href="{{url}}" data-tag="{{slug}}">
                    <span class="changelog-card-count">-</span>
                    <span class="changelog-card-name">{{name}}</span>
                </a>
                {{/has}}
            {{/foreach}}
        </div>
        {{#get "posts" limit="all" include="tags" as |allPosts|}}
        <script type="application/json" class="changelog-data">[{{#foreach allPosts}}{"d":"{{date published_at format="YYYY-MM-DD"}}","t":[{{#foreach tags}}"{{slug}}"{{#unless @last}},{{/unless}}{{/foreach}}]}{{#unless @last}},{{/unless}}{{/foreach}}]</script>
        {{/get}}
    </section>
</div>
{{/if}}
{{/get}}
